body {
    padding: 70px 0;
    background: rgb(19,17,64);
    background: linear-gradient(169deg, rgba(19,17,64,1) 12%, rgba(41,41,187,1) 58%, hsl(219, 100%, 80%) 100%);
}

html {
    height: 100%;
}

@font-face {
    font-family: Font;
    src: url(../font.ttf);
}

.mainDiv {
    width: 800px;
    height: 500px;
    background-color: rgb(94, 94, 210);
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-family: Font;
    font-size: 64px;
}

h3 {
    font-size: 32px;
}

.logDiv {
    width: auto;
    font-family: Font;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin: 10px;
    font-size: 24px;
}

button {
    font-size: 24px;
    border-radius: 20px;
    border-width: 1px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

p {
    font-size: 20px;
    font-family: Font;
}