@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "text";
@import "other";

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: .7rem;
  padding-right: .1rem;
  margin: 10px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
  margin: 1rem;
  padding-right: .1rem;
}

::-webkit-scrollbar-thumb {
  width: .4rem;
  background: rgba(61, 71, 86, 0.33) !important;
  border-radius: 1rem;
  border: .2rem solid white;
}

.questionRight {
  .button {
    background: #2DD36F;
    border: none;

    &:hover {
      background: #2DD36F;
    }

    label {
      color: white;
    }
  }
}

.questionWrong {
  .button {
    background: #EB445A;
    border: none;

    &:hover {
      background: #EB445A;
    }

    label {
      color: white;
    }
  }
}