.create {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #97C8FF;
  padding: .625rem;
  box-sizing: border-box;
  gap: 0.625rem;
  overflow: hidden;
}

.doubleColor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.symbols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}