.button {
  border-radius: 1rem;
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  label {
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.active {
  background: #004B88;
  border-color: #004B88;
  box-shadow: 0 0 .625rem 0 rgba(0, 0, 0, 0.25);

  &:hover {
    background: #003e70;
  }

  svg {
    fill: #FFFFFF;
    stroke: #FFFFFF;
  }

  label {
    color: #FFFFFF;
  }
}

.inactive {
  background: #FFFFFF;
  border-color: rgb(61, 71, 86);

  &:hover {
    background: #e8e8e8;
  }

  svg {
    fill: #3D4756;
    stroke: #3D4756;
  }

  label {
    color: #3D4756;
  }
}